<!doctype html>
<html>
	<head>
		<title>Detalle Comic</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="tarjeta-usuario">
			<label>Nombre: </label><label th:text="${nombre}"></label><br></br>
			<label>Autor:</label><label th:text="${autor}"></label><br></br>
			<label>Editorial:</label><label th:text="${editorial}">true</label><br></br>
			<a href="/listadoComicsUsuario">Volver a la lista</a>
		</div>
	</body>

</html>