<head>
<title>Login Usuario Nuevo</title>

<meta charset="UTF-8"></meta>
</head>
 <article id="principal" layout:fragment="contenido">
  <div class="alert alert-danger" role="alert">
  Los datos son incorrectos, vuelva a intentarlo
</div>
        
        <form action="procesar-loginUsuario" method="POST">
        	
           <center><br><label>Nombre</label></br></center> 
            <center> <input class="formregister" type="text" name="nombre" placeholder="usuario..."	></input></center> 
            <center> <br><label>Password</label></br></center> 
            <center> <input class="formregister" type="password" name="contrasenia" placeholder="contraseña..."></input></center> 
            <br><center> <input class="formregister" type="submit" value="Ingresar"></input></center></br>
        
            
        </form>
                
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <title>Comics Shop</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet"></link>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
     <div class="container">
        <center><a class="navbar-brand" href="#">Crear Usuario</a></center>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                </li>
               <li class="nav-item">
          <a class="nav-link" href="#">Marvel DC</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
       
      <div class="row">
 
        <!-- /.col-lg-3 -->
    	
          <!-- /.row -->
        </div>
 
 
        <!-- /.col-lg-9 -->
      </div>
      <!-- /.row -->
    
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
    <center><a class="navbar-brand" href="IndexInvitado">Regresar</a></center>
      <!-- /.container -->
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
   


</article>



